20240601/
.vscode/
__pycache__/
api_key.yml
# pre_experiment.ipynb
logs/
prac.py
*.json
*.txt
*.png
*.ipynb


CAPR/__pycache__/
CAPR/response_result/
CAPR/log/
CAPR/Agent_weight/
CAPR/*.json
CAPR/PPO_State*
CAPR/api_key.yml

PACE/__pycache__/
PACE/response_result/
PACE/log/
PACE/model_weight/
PACE/bert_model_weight/
PACE/natural_qa_dataet/
PACE/*.json
PACE/picture/histogram/
PACE/api_key.yml

base_work/__pycache__/
base_work/api_key.yml
base_work/*.json
base_work/log/
